// Top level variables for mozui CSS
// Note: some others are available under each specific plugin

@import 'colors';


// Colors (from /themes/default/colors)
$mozui-white: #fff;
$mozui-black: #111;
$mozui-primary: darken($green, 5%) !default;
$mozui-success: $blue !default;
$mozui-warning: $orange !default;
$mozui-error: $red !default;
$mozui-dull: $gray !default;
$mozui-color-variation: 10% !default;
$mozui-transparency: .1 !default;


// Spaces
$mozui-separation: .6em !default;
$mozui-breakpoint: 60em !default;


// Shapes
$mozui-radius: 0 !default;
$mozui-border: 1px solid #ddd !default;
$mozui-shadow: none !default;


// Transitions
$mozui-transition: all .2s ease !default;





// Plugins
$mozui-nav-position: absolute !default;
